<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJffSchuH5ENB96F_Z7uxkpNomITR7es0</string>
	<key>GCM_SENDER_ID</key>
	<string>101750825385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carTradeHubApp</string>
	<key>PROJECT_ID</key>
	<string>cartradehubapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cartradehubapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101750825385:ios:b6a33c5130cfe9c8c4e4b8</string>
</dict>
</plist>